<footer class="site-footer">
    {{ site.description }}<br />

    &#169 Denny WU 2019</a>
    {% if site.sourcecode %}
     :: <a href="{{ site.sourcecode }}">Website source</a>
    {% endif %}
    {% if site.analytics.provider and page.analytics != false %}
     :: Analytics by {{ site.analytics.provider }}
    {% endif %}<br />
	
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<span id="busuanzi_container_site_pv"><div style="text-align:right">您是第<span id="busuanzi_value_site_pv"></span>位访问本主页的小伙伴^.^</span></div>

</footer>
